<configuration>
	<system.webServer>
		<httpErrors existingResponse="PassThrough" />

		<handlers>
			<add name="iisnode" path="index.js" verb="*" modules="iisnode" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="old-geocoding-post">
					<match url="^2013/12/geocoding-v3/" />
					<action type="Redirect" url="https://github.com/chadly/Geocoding.net" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-0-0">
					<match url="^2016/03/unpublish-isnt-a-word/" />
					<action type="Redirect" url="https://www.chadly.net/unpublish-isnt-a-word/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-0-1">
					<match url="^2016/03/unpublish-isn-t-a-word/" />
					<action type="Redirect" url="https://www.chadly.net/unpublish-isnt-a-word/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-1-0">
					<match url="^2015/04/publishing-react-to-npm/" />
					<action type="Redirect" url="https://www.chadly.net/publishing-react-to-npm/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-1-1">
					<match url="^2015/04/publishing-a-react-component-to-npm/" />
					<action type="Redirect" url="https://www.chadly.net/publishing-react-to-npm/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-2-0">
					<match url="^2015/04/nvidia-drivers/" />
					<action type="Redirect" url="https://www.chadly.net/nvidia-drivers-ubuntu/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-2-1">
					<match url="^2015/04/installing-nvidia-drivers-for-gtx-650-ti-boost-in-ubuntu-14-04/" />
					<action type="Redirect" url="https://www.chadly.net/nvidia-drivers-ubuntu/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-3-0">
					<match url="^2014/05/git-bcompare/" />
					<action type="Redirect" url="https://www.chadly.net/git-bcompare/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-3-1">
					<match url="^2014/05/git-bcompare3/" />
					<action type="Redirect" url="https://www.chadly.net/git-bcompare/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-3-2">
					<match url="^2016/09/configuring-beyond-compare-4-with-git/" />
					<action type="Redirect" url="https://www.chadly.net/git-bcompare/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-3-3">
					<match url="^2014/05/configuring-beyond-compare-3-with-git/" />
					<action type="Redirect" url="https://www.chadly.net/git-bcompare/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-3-4">
					<match url="^2016/09/git-bcompare/" />
					<action type="Redirect" url="https://www.chadly.net/git-bcompare/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-3-5">
					<match url="^2016/09/git-bcompare4/" />
					<action type="Redirect" url="https://www.chadly.net/git-bcompare/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-3-6">
					<match url="^2014/05/configuring-beyond-compare-with-git/" />
					<action type="Redirect" url="https://www.chadly.net/git-bcompare/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-4-0">
					<match url="^2014/03/live-tv-in-linux/" />
					<action type="Redirect" url="https://www.chadly.net/live-tv-linux/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-4-1">
					<match url="^2014/03/live-tv-with-hauppauge-wintv-hvr2250-in-elementary-os/" />
					<action type="Redirect" url="https://www.chadly.net/live-tv-linux/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-5-0">
					<match url="^2014/03/steam-on-linux/" />
					<action type="Redirect" url="https://www.chadly.net/steam-on-linux/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-5-1">
					<match url="^2014/03/moving-steam-folder-out-of-home-in-linux/" />
					<action type="Redirect" url="https://www.chadly.net/steam-on-linux/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-6-0">
					<match url="^2014/02/epson-gt-s50-linux/" />
					<action type="Redirect" url="https://www.chadly.net/epson-gt-s50-linux/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-6-1">
					<match url="^2014/02/scanning-ocr-with-epson-gt-s50-on-linux-mint/" />
					<action type="Redirect" url="https://www.chadly.net/epson-gt-s50-linux/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-7-0">
					<match url="^2014/02/healthy-developers/" />
					<action type="Redirect" url="https://www.chadly.net/healthy-developers/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-7-1">
					<match url="^2014/02/a-good-developer-is-a-healthy-developer/" />
					<action type="Redirect" url="https://www.chadly.net/healthy-developers/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-8-0">
					<match url="^2013/12/automate-all-the-things-with-wercker/" />
					<action type="Redirect" url="https://www.chadly.net/automate-all-the-things-with-wercker/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-9-0">
					<match url="^a-poor-mans-transclude-in-knockout-js/" />
					<action type="Redirect" url="https://www.chadly.net/transclude-in-knockout-js/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-9-1">
					<match url="^2013/12/a-poor-mans-transclude-in-knockout-js/" />
					<action type="Redirect" url="https://www.chadly.net/transclude-in-knockout-js/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-9-2">
					<match url="^2013/12/a-poor-man-s-transclude-in-knockout-js/" />
					<action type="Redirect" url="https://www.chadly.net/transclude-in-knockout-js/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-10-0">
					<match url="^2013/10/user-experience-matters-more-than-you-think/" />
					<action type="Redirect" url="https://www.chadly.net/user-experience-matters-more-than-you-think/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-11-0">
					<match url="^lazy-loading-an-observable-array-with-knockout-js/" />
					<action type="Redirect" url="https://www.chadly.net/lazy-loading-with-knockout/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-11-1">
					<match url="^2012/09/lazy-loading-an-observable-array-with-knockout-js/" />
					<action type="Redirect" url="https://www.chadly.net/lazy-loading-with-knockout/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-12-0">
					<match url="^2012/08/the-wonderful-world-of-git/" />
					<action type="Redirect" url="https://www.chadly.net/what-you-get-with-git/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-12-1">
					<match url="^2012/08/what-you-get-with-git/" />
					<action type="Redirect" url="https://www.chadly.net/what-you-get-with-git/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-13-0">
					<match url="^post/2009/10/30/Creating-NHibernate-Linq-Query-from-arbitrary-Criteria.aspx" />
					<action type="Redirect" url="https://www.chadly.net/nhibernate-linq-criteria/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-13-1">
					<match url="^creating-nhibernate-linq-query-from-arbitrary-criteria/" />
					<action type="Redirect" url="https://www.chadly.net/nhibernate-linq-criteria/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-13-2">
					<match url="^2009/10/creating-nhibernate-linq-query-from-arbitrary-criteria/" />
					<action type="Redirect" url="https://www.chadly.net/nhibernate-linq-criteria/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-13-3">
					<match url="^2009/10/creating-nhibernate-linq-query-from-criteria/" />
					<action type="Redirect" url="https://www.chadly.net/nhibernate-linq-criteria/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-14-0">
					<match url="^post/2009/08/26/The-Many-Pitfalls-of-NHibernateLinq.aspx" />
					<action type="Redirect" url="https://www.chadly.net/many-pitfalls-of-nhibernate-linq/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-14-1">
					<match url="^the-many-pitfalls-of-nhibernate-linq/" />
					<action type="Redirect" url="https://www.chadly.net/many-pitfalls-of-nhibernate-linq/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-14-2">
					<match url="^2009/08/the-many-pitfalls-of-nhibernate-linq/" />
					<action type="Redirect" url="https://www.chadly.net/many-pitfalls-of-nhibernate-linq/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-15-0">
					<match url="^post/2009/07/27/NHibernateLinq-10-is-out-and-about.aspx" />
					<action type="Redirect" url="https://www.chadly.net/nhibernate-linq-1/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-15-1">
					<match url="^nhibernate-linq-1-0-is-out-and-about/" />
					<action type="Redirect" url="https://www.chadly.net/nhibernate-linq-1/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-15-2">
					<match url="^2009/07/nhibernate-linq-1-0-is-out-and-about/" />
					<action type="Redirect" url="https://www.chadly.net/nhibernate-linq-1/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-16-0">
					<match url="^post/2009/07/09/we-make-shitty-software-and-so-do-you.aspx" />
					<action type="Redirect" url="https://www.chadly.net/we-make-shitty-software-and-so-do-you/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-16-1">
					<match url="^2009/07/we-make-shitty-software-and-so-do-you/" />
					<action type="Redirect" url="https://www.chadly.net/we-make-shitty-software-and-so-do-you/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-17-0">
					<match url="^post/2009/05/28/Dependency-Injection-with-NHibernate-and-Autofac.aspx" />
					<action type="Redirect" url="https://www.chadly.net/dependency-injection-with-nhibernate-and-autofac/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-17-1">
					<match url="^2009/05/dependency-injection-with-nhibernate-and-autofac/" />
					<action type="Redirect" url="https://www.chadly.net/dependency-injection-with-nhibernate-and-autofac/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-17-2">
					<match url="^2009/05/dependency-injection-with-nhi/" />
					<action type="Redirect" url="https://www.chadly.net/dependency-injection-with-nhibernate-and-autofac/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-18-0">
					<match url="^post/2009/04/20/BDD-with-xUnit.aspx" />
					<action type="Redirect" url="https://www.chadly.net/bdd-with-xunit-net/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-18-1">
					<match url="^2009/04/bdd-with-xunit-net/" />
					<action type="Redirect" url="https://www.chadly.net/bdd-with-xunit-net/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-19-0">
					<match url="^post/2009/04/13/Tortoise-SVN-Settings-for-Beyond-Compare-3.aspx" />
					<action type="Redirect" url="https://www.chadly.net/tortoise-svn-settings-for-beyond-compare-3/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-19-1">
					<match url="^2009/04/tortoise-svn-settings-for-beyond-compare-3/" />
					<action type="Redirect" url="https://www.chadly.net/tortoise-svn-settings-for-beyond-compare-3/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-20-0">
					<match url="^post/2009/03/14/AspNet-MVC-and-Sealed-Classes.aspx" />
					<action type="Redirect" url="https://www.chadly.net/asp-net-mvc-and-sealed-classes/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-20-1">
					<match url="^2009/03/asp-net-mvc-and-sealed-classes/" />
					<action type="Redirect" url="https://www.chadly.net/asp-net-mvc-and-sealed-classes/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-21-0">
					<match url="^post/2009/03/10/Custom-MonorailHttpHandlerFactory-to-handle-404s-gracefully.aspx" />
					<action type="Redirect" url="https://www.chadly.net/handle-monorail-404s-gracefully/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-21-1">
					<match url="^custom-monorailhttphandlerfactory-to-handle-404s-gracefully/" />
					<action type="Redirect" url="https://www.chadly.net/handle-monorail-404s-gracefully/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-21-2">
					<match url="^2009/03/custom-monorailhttphandlerfactory-to-handle-404s-gracefully/" />
					<action type="Redirect" url="https://www.chadly.net/handle-monorail-404s-gracefully/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-21-3">
					<match url="^2009/03/handle-monorail-404s-gracefully/" />
					<action type="Redirect" url="https://www.chadly.net/handle-monorail-404s-gracefully/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-22-0">
					<match url="^post/2009/03/29/Developing-with-Passion.aspx" />
					<action type="Redirect" url="https://www.chadly.net/developing-with-passion/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-22-1">
					<match url="^2009/03/developing-with-passion/" />
					<action type="Redirect" url="https://www.chadly.net/developing-with-passion/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-23-0">
					<match url="^post/2009/03/09/Its-Tough-Times-Out-There.aspx" />
					<action type="Redirect" url="https://www.chadly.net/tough-times-out-there/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-23-1">
					<match url="^its-tough-times-out-there/" />
					<action type="Redirect" url="https://www.chadly.net/tough-times-out-there/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-23-2">
					<match url="^2009/03/it-s-tough-times-out-there/" />
					<action type="Redirect" url="https://www.chadly.net/tough-times-out-there/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-23-3">
					<match url="^2009/03/its-tough-times-out-there/" />
					<action type="Redirect" url="https://www.chadly.net/2009/03/tough-times-out-there/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-24-0">
					<match url="^post/2009/02/01/Agile-Software-Development-from-a-Business-Perspective.aspx" />
					<action type="Redirect" url="https://www.chadly.net/agile-software-development/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-24-1">
					<match url="^agile-software-development-from-a-business-perspective/" />
					<action type="Redirect" url="https://www.chadly.net/agile-software-development/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-24-2">
					<match url="^2009/02/agile-software-development-from-a-business-perspective/" />
					<action type="Redirect" url="https://www.chadly.net/agile-software-development/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-24-3">
					<match url="^2009/02/agile-software-development/" />
					<action type="Redirect" url="https://www.chadly.net/agile-software-development/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-25-0">
					<match url="^post/2009/01/29/Lightbox-for-YouTube-Videos.aspx" />
					<action type="Redirect" url="https://www.chadly.net/lightbox-for-youtube-videos/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-25-1">
					<match url="^2009/01/lightbox-for-youtube-videos/" />
					<action type="Redirect" url="https://www.chadly.net/lightbox-for-youtube-videos/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-25-2">
					<match url="^demos/video-lightbox.html" />
					<action type="Redirect" url="https://www.chadly.net/lightbox-for-youtube-videos/" redirectType="Permanent" />
				</rule>

				<rule name="old-posts-26-0">
					<match url="^post/2009/01/25/Hello-Universe.aspx" />
					<action type="Redirect" url="https://www.chadly.net/hello-universe/" redirectType="Permanent" />
				</rule>
				<rule name="old-posts-26-1">
					<match url="^2009/01/hello-universe/" />
					<action type="Redirect" url="https://www.chadly.net/hello-universe/" redirectType="Permanent" />
				</rule>

				<rule name="old_rss">
					<match url="^feed.xml" />
					<action type="Redirect" url="https://www.chadly.net/rss/" redirectType="Permanent"/>
				</rule>

				<rule name="old_about_page">
					<match url="^about/" />
					<action type="Redirect" url="https://www.chadly.net/author/chad/" redirectType="Permanent"/>
				</rule>

				<rule name="StaticContent">
					<action type="Rewrite" url="content/files{REQUEST_URI}" />
				</rule>
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="index.js" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000" />
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>